<section class="sale-page">
    <header class="sale-header">
        <h1>Kosmetyka z aparaturą</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Na rynku istnieje duże zapotrzebowanie na prostą, bezbolesną, bezinwazyjną i skuteczną technikę
                modelowania twarzy i rzeźbienia sylwetki oraz walkę z niedoskonałościami naszego ciała.
                <br />
                <br />
                Wykorzystujemy najnowocześniejsze osiągnięcia techniki, dające spektakularne efekty, które niosą
                nadzwyczajne rezultaty terapii zabiegowych. To nowoczesne, bezpieczne, szybkie, trwałe i bezinwazyjne
                zabiegi przy użyciu różnych głowic, elektrod — pozwalające uzyskiwać wspaniałe efekty w odnowie skóry,
                likwidacji zmarszczek, redukcji nadmiernej tkanki tłuszczowej, remodelingu. Istotą jest fakt, ze zabiegi
                te nie wymagają rekonwalescencji, nie wymuszają konieczności pozostania w domu, nie niosą powikłań — są
                alternatywą zabiegów chirurgicznych.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/aparatura.jpg" alt="Kosmetyka z aparaturą" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
