<section class="sale-page">
    <header class="sale-header">
        <h1>Podologia</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Warto pielęgnować stopy w odpowiedni sposób, by długo zachować ich zdrowie i estetyczny wygląd. W naszym
                gabinecie posługujemy się specjalistycznymi frezarkami, które bezpiecznie, szybko i na długo pozbędą się
                zgrubień na stopach, przywracając im gładkość i delikatność.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/podologia.jpg" alt="Podologia" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
