<section class="sale-page">
    <header class="sale-header">
        <h1>Makijaż permanentny</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Makijaż permanentny podkreśla Twoją urodę w sposób naturalny, indywidualny i na długi czas. Dzięki
                metodzie PUREBEAU można uwydatnić, nanieść lub skorygować brwi, usta lub kreski na powiekach. Makijaż
                permanentny jest rozwiązaniem dla wszystkich, którzy kochają perfekcyjność, komfort, wygodę i nienaganny
                wygląd w każdej sytuacji.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/permanentny.jpg" alt="Makijaż permanentny" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
