<section class="sale-page">
    <header class="sale-header">
        <h1>Karboksyterapia</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Największy przełom w kosmetyce medycyny estetycznej polegający na iniekcjach terapeutycznym gazem CO2
                wyzwalającym szereg samonaprawczych procesów rewitalizacji, regeneracji, liftingu i stymulacji skóry.
            </p>
            <p>FUSION v TERAPY</p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/karboksyterapia.jpg" alt="Karboksyterapia" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
