<section class="sale-page">
    <header class="sale-header">
        <h1>Sprzedaż detaliczna</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <h3>
                Istotnym jest to, aby utrwalić i wydłużyć efektywność zabiegów gabinetowych poprzez idealnie dobraną do
                potrzeb skóry pielęgnację domową
            </h3>
            <p>
                Na podstawie analizy stanu skóry podczas zabiegu indywidualnie dobierzemy wyselekcjonowane kosmetyki do
                pielęgnacji domowej, tak, aby pracowały na skórze zgodnie z jej potrzebami zapewniając pogłębienie i
                wydłużenie efektywności jej kondycji.
                <br />
                <br />
                Mamy możliwość zapewnić naszej skórze to, czego naprawdę potrzebuje i w widoczny sposób przedłużyć
                efektywność zabiegów wykonanych w Gabinecie Kosmetycznym „Gracja” poprzez kurację domową.
                <br />
                <br />
                Pracujemy wyłącznie na profesjonalnych i certyfikowanych produktach o wysokim standardzie, które
                udostępniamy w ofercie sprzedażowej takie jak Anna Lotan, Onmacabim czy Natinuel.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/sprzedaz.jpg" alt="Pielęgnacja domowa" />
</section>
