<section class="sale-page">
    <header class="sale-header">
        <h1>Stylizacja paznokci</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Wypielęgnowane oraz zadbane dłonie i paznokcie są naszą najlepszą wizytówką. Pragnąc wyjść na przeciw
                Twoim oczekiwaniom stworzyliśmy szeroką ofertę zabiegową aby w pełni usatysfakcjonować nawet najbardziej
                wymagające dłonie na „wyciągnięcie ręki”. Przy odrobinie konsekwentnej pielęgnacji staną się ozdobą i
                wizytówką naszego wizerunku.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/paznokcie.jpg" alt="Stylizacja paznokci" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
