<header class="header" [class.scrolled]="isScrolled && !sidenavMenu" [ngClass]="{ 'header-transparent': sidenavMenu }">
    <div class="header-container">
        <div class="logo-container">
            <button class="d-mobile d-flex" matIconButton (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
            <a routerLink="/" routerLinkActive="active">
                <img src="assets/logo.png" alt="Gabinet Kosmetyczny Gracja LOGO" class="logo-image" />
            </a>
        </div>
        <nav class="header-menu d-desktop">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link"
                >Strona główna</a
            >
            <a routerLink="/o-nas" routerLinkActive="active" class="menu-link">O nas</a>
            <a routerLink="/oferta" routerLinkActive="active" class="menu-link">Oferta</a>
            <a routerLink="/sprzedaz" routerLinkActive="active" class="menu-link">Sprzedaż</a>
            <a routerLink="/kontakt" routerLinkActive="active" class="menu-link">Kontakt</a>
        </nav>
    </div>
</header>
