<section class="sale-page">
    <header class="sale-header">
        <h1>Makijaż okolicznościowy</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Każdy makijaż wykonywany jest profesjonalnymi kosmetykami, posiada opcję doklejania sztucznych rzęs w
                kępkach. Podczas jego realizacji zdecydowanie istotne jest jego przeznaczenie – cel.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/okolicznosciowy.jpg" alt="Makijaż okolicznościowy" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
