<section class="sale-page">
    <header class="sale-header">
        <h1>Body piercing</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Body piercing to forma wyrażenia siebie, która zyskała ogromną popularność na całym świecie.
                W naszym gabinecie zapewniamy w pełni bezpieczne i higieniczne warunki, wykorzystując sterylne
                kolczyki wykonane z antyuczuleniowej stali chirurgicznej.
                <br /><br />
                Zabieg wykonywany jest przez doświadczonego specjalistę z zachowaniem najwyższych standardów
                sanitarnych. Gwarantujemy komfort, precyzję oraz profesjonalną pielęgnację pozabiegową, dzięki czemu
                proces gojenia przebiega szybko i bez komplikacji.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/pielegnacja-twarzy.jpg" alt="Body piercing" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
