<section class="sale-page">
    <header class="sale-header">
        <h1>Mezoterapia igłowa</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Najpopularniejsze zabiegi z zakresu medycyny estetycznej, stosowane w szybkiej, niezwykle skutecznej i
                spektakularnej biorewitalizacji skóry. Za pomocą iniekcji dostarczamy bezpośrednio do skóry właściwej
                pożądane aktywatory w formie sterylnych mezokoktajlii.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/pielegnacja-twarzy.jpg" alt="Mezoterapia igłowa" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
