<section class="sale-page">
    <header class="sale-header">
        <h1>Laseroterapia</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Laseroterapia E-LIGHT i ultradźwięki to nowoczesne, nieinwazyjne metody odmładzania i leczenia skóry.
                Zabiegi skutecznie redukują zmarszczki, trądzik, przebarwienia i modelują sylwetkę, zapewniając widoczne
                efekty bez okresu rekonwalescencji.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/karboksyterapia.jpg" alt="Laseroterapia" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
