<section class="sale-page">
    <header class="sale-header">
        <h1>Pielęgnacja twarzy</h1>
        <div class="divider"></div>
    </header>

    <div class="sale-content">
        <div class="sale-text">
            <p>
                Program naszych zabiegów ukierunkowany jest do interwencji w modyfikacji strukturalnej w poszczególnych
                problemach estetycznych. Nasze linie dermokosmetyczne wykorzystują ewolucje badań i gwarantują efektywną
                i wysoką jakość zabiegów.
            </p>
        </div>
    </div>
    <img class="sale-img" src="assets/oferta-podstrony/pielegnacja-twarzy.jpg" alt="Pielęgnacja twarzy" />
    <app-faq class="w-100" [items]="faqItems"></app-faq>
</section>
