<div class="contact-page-container">
    <div class="contact-container">
        <div class="contact">
            <div class="contact-content">
                <div class="contact-section">
                    <h3 class="contact-title">Adres</h3>
                    <address>
                        <p>Al. Jana Pawła II 13a/2</p>
                        <p>37-450 Stalowa Wola</p>
                    </address>
                </div>
                <div class="contact-section">
                    <h3 class="contact-title">Kontakt</h3>
                    <p>15 842 94 19</p>
                    <p>
                        <a href="mailto:info@gabinetgracja.com.pl" class="contact-link">
                            {{ 'info@gabinetgracja.com.pl' }}
                        </a>
                    </p>
                </div>
                <div class="contact-section">
                    <h3 class="contact-title">Godziny otwarcia</h3>
                    <p>Pon. - Pt. 10:00 - 18:00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="map-container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d316.755271179099!2d22.063509992625065!3d50.57058012973107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d2cc5eac32723%3A0xdc0f840c6cc348a1!2sBeauty%20Salon%20%22Gracja%22%20-%20Anna%20W%C4%85sik!5e0!3m2!1sen!2spl!4v1757744747959!5m2!1sen!2spl"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <a class="ms-auto me-auto" href="mailto:info@gabinetgracja.com.pl" class="app-button">Wyślij wiadomość</a>
</div>
